h1 {
    text-align: center;
    margin-top: 80px;
    font-size: 60px;
    font-family: fantasy;
    color: #aaa;
}
.container {
    width: 996px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 50px 0;
    /*border: 1px solid #ccc;*/
    perspective: 800px;
    overflow: hidden;
}
.card {
    width: 200px;
    height: 200px;
    margin: 20px;
    float: left;
    list-style: none;
    transition: width 1s, height 1s, transform 1s;
    transform-style: preserve-3d;

}
.card:hover {
    width: 400px;
    height: 400px;
    font-size: 16px;
    position: relative;
    top: 0;
    left: 0;
}
.card:hover div {
    font-size: 30px;
}
.card div {
    display: block;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 140px;
    position: absolute;
    backface-visibility: hidden;
    overflow: hidden;
}
.card .front {
    background: #ccc;
}
.card .back {
    color: white;
    background: cadetblue;
    transform: rotateY( 180deg );
}
.card.flipped {

    transform: rotateY( 180deg );
}